<div class="grid grid-cols-12 pl-10 pr-10">
    <div *ngFor="let video of videos" class="col-span-7 py-2">
        <div class="border border-gray-300 grid grid-cols-12">
            <div class="col-span-6">
                <img [src]="video?.snippet?.thumbnails?.medium?.url">
            </div>
            <div class="col-span-6 grid grid-rows-3">
                <span class="font-bold text-lg">{{ video?.snippet?.title }}</span>
                <span class="">{{ video?.snippet?.description }}</span>
                <span class="">Channel: <b>{{ video?.snippet?.channelTitle }}</b></span>
            </div>
        </div>
    </div>
</div>