<div class="grid grid-cols-12 space-x-3">
    <div class="col-span-8 bg-gray-300 p-2 grid grid-cols-12">
        <div class="col-span-12">
            <span class="font-bold">Featured</span>
        </div>
        <div class="col-span-7">
            <img [src]="videos[0]?.snippet?.thumbnails?.high?.url">
        </div>
        <div class="col-span-5 grid grid-rows-5">
            <span class="font-bold">{{ videos[0]?.snippet?.title }}</span>
            <span class="">{{ videos[0]?.snippet?.description }}</span>
        </div>
    </div>
    <div class="col-span-4 bg-gray-200">
        a
    </div>
</div>