<div class="w-full bg-gradient-to-r from-blue to-blue-4 py-5 grid grid-cols-3">
    <img src="../../../../assets/images/logo_white.png" alt="" class="h-12 inline-flex pl-12">
    
    <div class="text-white text-center justify-center py-2">
      <nav class="justify-center overflow-auto inline-flex">
        <!-- <a *ngFor="let route of routes"
          [class]="route.active ? 'md:mx-4 md:m-0 border-b-2 border-blue-5 flex items-center pb-1' : 'md:mx-4 md:m-0 border-b-2 border-white hover:border-blue-5 flex items-center pb-1'"
          [routerLink]="route.route">
          <label class="w-max hover:cursor-pointer"> {{ route.title | translate }}
          </label>
        </a> -->
      </nav>
    </div>
    <div class="text-white text-right flex pr-16 items-center justify-end">
      <div class="bg-white rounded-full h-12 w-12 mr-2">
  
      </div>
      <!-- <div class="inline-grid text-left">
        <span class="font-bold">{{ username }}</span>
        <span>{{ userCompany }}</span>
      </div> -->
    </div>
  
  
  </div>